body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}
:root {
    --navyblue: #2e2f42;
    --cloud: #f4f4fd;
    --iris: #4d5ae5;
    --slate: #434455;
    --white: #fff;
    --ocean: #404bbf;
}
.link {
    text-decoration: none;
    list-style-type: none;
}

/*-----------HEADER-----------*/

.logo-web {
    color: var(--iris, #4d5ae5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}
.logo-studio {
    color: var(--navyblue, #2e2f42);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}
.footer-logo-2 {
    color: var(--cloud, #f4f4fd);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-list {
    list-style: none;
}
.nav-item {
    color: var(--navyblue, #2e2f42);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.nav-item:hover {
    color: var(--ocean, #404bbf);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

.adress-list {
    color: var(--slate, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
}
address {
    font-style: normal;
    list-style: none;
}

/*-----------HERO-----------*/
.hero {
    background-color: #2e2f42;
}
.hero-title {
    color: #fff;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}
.hero-btn {
    background: var(--iris, #4d5ae5);
    color: var(--white, #fff);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
}
.hero-btn:hover {
    background: var(--ocean, #404bbf);
    color: var(--white, #fff);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
}
.skills-title {
    color: var(--navyblue, #2e2f42);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
}
.skills-text {
    color: var(--slate, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

.tallents {
    color: var(--navyblue, #2e2f42);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
/*------------------OUR TEAM--------------*/
.team-item {
    background: var(--white #fff);
}

.our-team-title {
    color: var(--navyblue, #2e2f42);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.team-title {
    color: var(--navyblue, #2e2f42);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
}
.team-text {
    color: var(--slate, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

.footer-item {
    background: var(--navyblue, #2e2f42);
}
.footer-text {
    color: var(--cloud, #f4f4fd);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}
.menu-btn {
    color: var(--iris, #4d5ae5);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
}

.adress-list:hover {
    color: var(--ocean, #404bbf);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}
